{% extends 'base.html.twig' %}

{% block title %}Détails du Film{% endblock %}

{% block content %}
    <div class="container py-5">
        <div class="card shadow-lg border-0">
            <div class="card-body">
                <h1 class="card-title text-center text-primary mb-4">
                    <i class="fas fa-film"></i> {{ film.title }}
                </h1>
                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <strong>Année :</strong> {{ film.year }}
                            </li>
                            <li class="list-group-item">
                                <strong>Genre :</strong> {{ film.type }}
                            </li>
                            <li class="list-group-item">
                                <strong>Réalisateur :</strong> {{ film.director }}
                            </li>
                            <li class="list-group-item">
                                <strong>Synopsis :</strong> {{ film.synopsis }}
                            </li>
                            <li class="list-group-item">
                                <strong>Créé le :</strong> {{ film.createdAt|date("d-m-Y") }}
                            </li>
                            <li class="list-group-item">
                                <strong>Mis à jour le :</strong> {{ film.updatedAt|date("d-m-Y") }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 text-center">
                        <a href="/film/update?id={{ film.id }}" class="btn btn-warning btn-lg mb-3">
                            <i class="fas fa-edit"></i> Modifier
                        </a>
                        <a href="/films" class="btn btn-outline-primary btn-lg">
                            <i class="fas fa-arrow-left"></i> Retour à la liste
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
